* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

body {
    background-color: black;
}

#logo-1 {
    z-index: 3;
}

#logo {
    z-index: 3;
    width: 250px;
    height: 65px;
    object-fit: cover;
}

#nav {
    border-bottom: 1px solid hsl(0, 0%, 40%);
    opacity: 0;
    background-color: hsl(0, 0%, 90%);
    display: flex;

    width: 100%;

    justify-content: space-between;
    align-items: center;
}

nav {
    border-bottom: 1px solid hsl(0, 0%, 40%);
    background-color: hsl(0, 0%, 0%);
    display: flex;
    position: fixed;
    z-index: 1;
    width: 100%;

    justify-content: space-between;
    align-items: center;
}

* {
    overflow-x: hidden;
}

header {
    overflow-x: hidden;
}

nav ul {
    display: inline-flex;
    height: 100%;
    justify-content: space-evenly;
    align-content: center;
    width: 40%;
}

#nav ul {
    display: inline-flex;
    height: 100%;
    justify-content: space-evenly;
    align-content: center;
    width: 40%;
}

nav ul li {
    display: inline-flex;
    flex-shrink: 1;
    align-items: center;
    justify-content: center;
    height: 69px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;
    min-width: 9rem;
}

nav ul li .nav-text {
    display: inline-block;
    font-size: 1.35rem;

    text-decoration: none;
}

#nav ul li {
    display: inline-flex;
    flex-shrink: 1;
    align-items: center;
    justify-content: center;
    height: 69px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;
    min-width: 9rem;
}

#nav ul li {
    display: inline-block;
    font-size: 1.35rem;

    text-decoration: none;
}

@media only screen and (max-width: 1137px) {
    nav ul {
        width: 60%;
    }

    #nav ul {
        width: 60%;
    }
}

@media only screen and (max-width: 829px) {
    h1 {
        font-size: 3rem !important;
    }

    h2 {
        font-size: 2rem !important;
    }

    #mission {
        margin-top: 20px !important;
    }

    nav ul li a {
        font-size: 1.1rem;
    }

    nav ul li {
        margin: 5px;
    }

    nav ul {
        justify-content: end;
        width: fit-content;
    }

    #nav ul li a {
        font-size: 1.1rem;
    }

    #nav ul li {
        margin: 5px;
    }

    #nav ul {
        justify-content: end;
        width: fit-content;
        width: 88%;
    }
}

@media only screen and (max-width: 710px) {
    #logo-1 {
        display: inline-block !important;
    }

    #logo {
        display: none;
    }
}

#logo-1 {
    display: none;
    width: 50px;
    height: auto;
}

.nav:hover {
    text-decoration: underline;
    background-color: hsl(0, 0%, 15%);
}

@media only screen and (max-width: 490px) {
    nav ul {
        flex-direction: column;
    }
    nav ul li{
        height: fit-content;
    }
    #nav ul li{
        height: fit-content;
    }

    #nav ul {
        flex-direction: column;
        
    }

    #logo-1 {
        display: none !important;
    }

    #logo {
        display: inline-block;
    }
}

@media only screen and (max-width: 403px) {
    * {
        font-size: 8px;
    }
}

h1,
h2,
h3 {
    font-family: "Ubuntu", sans-serif;
}

h1 {
    margin-top: 2rem;
    margin-bottom: 2rem;

    font-size: 3.5rem;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 3rem;
}

.mission-title {
    font-size: 5em;
    letter-spacing: 0.05rem;
    padding: 2rem 3rem;
    display: inline-block;
}

#mission {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
    height: 675px;
    background-image: url("https://res.cloudinary.com/canonical/image/fetch/f_auto,q_auto,fl_sanitize,w_4096,h_1377/https://assets.ubuntu.com/v1/e55cc8c0-wide-server.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    overflow-x: hidden;
    color: hsl(0, 0%, 90%);
}

#content {
    background-color: rgba(0, 0, 0, 0.7);
    display: inline-flex;
    text-align: center;
    flex-direction: column;
    padding-bottom: 2rem;
    align-items: center;
}

.quote {
    font-weight: 1000;
    text-shadow: hsl(0, 0%, 58%) 1px 0 10px;
    font-style: italic;
    font-size: 2.3rem;
    font-family: "Edu AU VIC WA NT Hand", cursive, sans-serif;
    display: inline-block;
    text-align: center;
    line-height: 2;
}

.product {
    padding: 2rem;
    display: inline-block;
    max-width: 32rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#products img {
    max-width: 30rem;
    aspect-ratio: 5/3;
    height: auto;
    margin: 1rem;
    object-fit: cover;
    box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.35);
}

.product p {
    font-size: 1.2rem;
}
#product-container {
    display: flex;

    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 2000px) {
    * {
        font-size: 25px;
    }
}

#description {
    display: flex;
    background-image: url("dark-blue-laptop.jpg");

    background-repeat: no-repeat;
    background-attachment: fixed;

    background-size: cover;
    flex-direction: column;
    align-items: center;
    padding: 125px 0;
    justify-content: center;
    text-shadow: 2px 2px 5px 10px black;
}
#description p {
    text-align: center;
    font-size: 1.25em;
    letter-spacing: 0.01em;
    line-height: 1.5rem;
    max-width: 75em;
}
#products {
    margin-top: 175px;
    margin-bottom: 125px;
}

.person img {
    max-width: 20rem;
    aspect-ratio: 2/3;
    height: auto;
    margin: 1rem;
    object-fit: cover;
    border: 3px groove rgb(255, 255, 255);
    box-shadow: 3px 2px 5px 2px rgba(255, 255, 255, 0.35);
}

.job-description {
    text-align: center;
}

.job-description h3 {
    font-size: 3em;
}
.job-description p {
    font-size: 1.3em;
}
.person{
    display: inline-block;
    max-width: min-content;
}
#community h2{
    margin-bottom: 2em;
}
#people-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap:3rem;


    background-image: url("dark-blue-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.disclaimer{
    margin-bottom: 5px;
    opacity: 0.5;
    font-size: 0.7em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    border-top: darkgray solid 1px;
    display: flex;
    padding: 20px;
    margin-top: 20px;
    justify-content: center;
}
footer p{
    font-size: 0.9em;
}
